.button {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
}

.button-text {
  display: flex;
  border-radius: 6px;
  background-color: var(--color-bg-secondary);
  width: 150px;
  height: 45px;
  color: var(--color-font-secondary);
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-style: unset;
}
