@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #2D28FF;
  --color-bg-tertiary: #f5f5f5;
  --color-bg-quaternary: #C7C7C7;

  --color-font-primary: #6f6f6f;
  --color-font-secondary: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
    background-color: var(--color-bg-tertiary);
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.dflex {
    margin: 20px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.mb30 {
    margin-bottom: 30px;
}

.mt30 {
    margin-top: 30px;
}
